.toolbar-left {
    @apply fixed top-2 left-2 z-50 flex;
}
.toolbar-right {
    @apply fixed top-2 right-2 z-50 flex flex-col items-end;
}
.new-file-tool {
    @apply bg-blue-600 rounded-md h-9 w-12 text-white mx-2 cursor-pointer border-[1px] border-solid border-blue-900;
}
.toolbar-icon {
    @apply h-auto !w-7 cursor-pointer;
}
.toolbar-drawing-icon {
    @apply w-7 h-7 my-1 cursor-pointer;
}
.toolbar-right span {
    @apply mx-2;
}
.toolbar-page {
    @apply p-2 border-solid border-[1px] border-gray-400 flex flex-row items-center rounded-md text-xs bg-[#E9F5FF] text-[#7e8991];
}
.toolbar-tools {
    @apply p-2 border-solid border-[1px] border-gray-400 rounded-md text-xs bg-[#E9F5FF] text-[#7e8991] items-center justify-start w-fit mt-2 flex-1;
    max-height: 350px;
    overflow-y: auto;
}
.toolbar-tools .active {
    @apply text-white bg-blue-600 rounded-md;
}
.color-selector {
    @apply p-1 absolute bottom-0 right-16 rounded-md border-solid border-[1px] border-gray-400 bg-[#E9F5FF] flex flex-row !flex-wrap w-24 items-center justify-center;
    max-height: 300px;
}
.color {
    @apply h-5 w-5 m-1 rounded-xl cursor-pointer border-solid border-[1px] border-zinc-500 relative;
}
.active-color {
    @apply border-[3px] !border-blue-300;
}
.toolbar-tools .pink { @apply bg-pink-600 }
.toolbar-tools .red { @apply bg-red-600 }
.toolbar-tools .orange { @apply bg-orange-500 }
.toolbar-tools .blue { @apply bg-sky-500 }
.toolbar-tools .yellow { @apply bg-orange-300 }
.toolbar-tools .black { @apply bg-black }
.toolbar-tools .white { @apply bg-white }
.toolbar-tools .grey { @apply bg-gray-500 }
.toolbar-tools .purple { @apply bg-indigo-500 }
.toolbar-tools .peach { @apply bg-red-400 }
.toolbar-tools .green { @apply bg-emerald-400 }
.toolbar-tools .olive { @apply bg-lime-800 }


@media only screen and (max-height: 400px) {
    .toolbar-tools {
        max-height: 180px;
    }
}

.toolbar-tools::-webkit-scrollbar {
    @apply w-1 bg-[#E9F5FF];
}
.toolbar-tools::-webkit-scrollbar-thumb {
    @apply w-1 bg-slate-400 rounded-md;
}